/* Vos customisations des classes de Bootstrap */
.nav-link, h1, h2, h3{
    font-family: Arvo;
}

#home {
    background-image:url(../images/hero-image.jpg);
}

h1{
    font-size: 50px;
}

.btn-danger{
    font-size: 30px;
}

.fs-custom{
    font-size: 18px;
    font-weight: 500;
}

span {
    color: red;
}

.underlineWidth{
    width: 150px;
}

.fs-1{
    font-size: 30px;
}

.fs-2{
    font-size: 25px;
}

.icon-custom2 svg{
    fill: white;
    background-color: black;
}

svg{
    width: 100px;
    height: auto;
}

.icon-bg{
    border-radius: 100%;
    background-color: black;
    width: 150px;
    height: 150px;
}

/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
